.claude/
bin/
dist/
publish/
local/
*.local
debian/changelog
debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/*.debhelper
debian/*.substvars
debian/kowabunga-konvey-agent/
tests
tmp
coverage.txt
coverage.out
