Source: kowabunga-konvey-agent
Section: web
Priority: extra
Maintainer: The Kowabunga Project <maintainers@kowabunga.cloud>
Uploaders: The Kowabunga Project <maintainers@kowabunga.cloud>
Build-Depends: debhelper
Standards-Version: 3.9.2

Package: kowabunga-konvey-agent
Architecture: any
Depends: ${misc:Depends}
Description: Kowabunga Konvey Agent
 Kowabunga stands for 'Kvm Orchestrator With A BUNch of Goods Added'
 This is Konvey agent, meant to provide as-a-service network load-balancer capabilities.
